<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <div class="sb-sidenav-menu-heading">หน้าร้าน</div>
      <a class="nav-link" routerLink="/shop">
        <div class="sb-nav-link-icon">
          <i class="bi bi-shop-window"></i>
        </div>
        หน้าขาย
      </a>
      <div class="sb-sidenav-menu-heading">ขาย</div>
      <a class="nav-link" routerLink="/dashboard">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        แดชบอร์ด
      </a>
      <a class="nav-link" routerLink="/dashboard">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        รายงาน
      </a>
      <a class="nav-link" routerLink="/dashboard">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        ประวัติการขาย
      </a>

      <div class="sb-sidenav-menu-heading">สินค้า</div>
      <a class="nav-link" routerLink="/product">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        สต๊อกสินค้า
      </a>
      <a class="nav-link" routerLink="/product">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        ประวัติสินค้า
      </a>

      <div class="sb-sidenav-menu-heading">โปรโมชั่น</div>
      <a class="nav-link" routerLink="/product">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        โปรโมชั่น
      </a>
      <a class="nav-link" routerLink="/product">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        ส่วนลด
      </a>

      <div class="sb-sidenav-menu-heading">จัดการ</div>
      <a class="nav-link" routerLink="/product">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        สาขา
      </a>
      <a class="nav-link" routerLink="/product">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        พนักงาน
      </a>
      <a class="nav-link" routerLink="/product">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        ลูกค้า
      </a>
      <a class="nav-link" routerLink="/product">
        <div class="sb-nav-link-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        เครื่อง POS
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    Start Bootstrap
  </div>
</nav>
