<div id="shop" class="container">
  <div class="row py-3">
    <div class="col-md-8 col-6">
      <div class="card">
        <div class="car-body">
          <div class="product container">
            <div class="row">
              <div class="col-12">
                <div class="row mb-3 mt-3 justify-content-end">
                  <div class="col-md-6 col-6">
                    <input
                      type="text"
                      class="form-control rounded-10"
                      placeholder="Search iteams here..."
                      [(ngModel)]="barcode"
                      (ngModelChange)="scanBarcode($event)"
                    />
                  </div>
                  <div class="col-md-1 col-3">
                    <button class="btn btn-success rounded-10">
                      <i class="bi bi-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div
                *ngFor="let product of products; let i = index"
                class="col-md-2 col-6 mt-1 cursor-pointer"
                (click)="addToCart(product)"
              >
                <div class="">
                  <div class="">
                    <div class="text-center product-image">
                      <img
                        [src]="product.image"
                        class="img-fluid image-product"
                      />
                    </div>

                    <div class="product-text" [title]="product.name">
                      <div class="product-name">{{ product.name }}</div>
                      <div class="product-price">
                        {{ product.price | currency: "฿" }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-6">
      <div class="card rounded-0 mb-3 cart-list">
        <div class="card-body p-0">
          <h5 class="text-center mt-3 mb-3">Checkout</h5>
          <table class="table table-card">
            <thead>
              <tr>
                <th class="text-center">Name</th>
                <th class="text-center">QTY</th>
                <th class="text-center">Price</th>
              </tr>
            </thead>
            <tbody *ngIf="carts && carts.length > 0">
              <tr
                *ngFor="let c of carts; let i = index"
                (click)="dispriceFunc('cart', c)"
              >
                <td>
                  <div class="product-name">
                    <b
                      ><i
                        (click)="removeCart(c.product_id)"
                        class="bi bi-trash"
                      ></i>
                      {{ i + 1 }}.</b
                    >
                    {{ c.product_name }}
                  </div>
                </td>
                <td style="white-space: nowrap">
                  {{ c.product_qty }} {{ c.unit }}
                </td>
                <td>
                  <b>{{ c.product_price | currency: "฿" }}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card rounded-0">
        <div class="card-body">
          <div class="row">
            <div
              class="col-md-3 col-4 text-muted text-nowrap"
              id="total-price-text"
            >
              ลด ฿
            </div>
            <div class="col-md-9 col-8 text-end">
              <h3
                class="text-muted text-nowrap cursor-pointer"
                (click)="dispriceFunc('discount', '')"
              >
                {{ discountPrice }}
              </h3>
            </div>
          </div>

          <div class="row">
            <div
              class="col-md-3 col-4 text-muted text-nowrap"
              id="total-price-text"
            >
              รวม
            </div>
            <div class="col-md-9 col-8 text-end">
              <del class="text-danger text-nowrap" *ngIf="price > 0">{{
                price | currency: "฿"
              }}</del>
              <h3 class="text-success text-nowrap">
                {{ totalPrice | currency: "฿" }}
              </h3>
            </div>
          </div>
          <div class="d-grid gap-2 mt-3">
            <button
              [disabled]="disabled_btn_checkout"
              class="btn btn-success btn-lg text-nowrap btn-xl"
              (click)="checkout()"
            >
              ชำระเงิน
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--form modal-->

<app-calculator
  [totalPrice]="totalPrice"
  [formModal]="formModal"
  (totalMoney)="submitOrder($event)"
></app-calculator>

<app-calc-discount
  [totalPrice]="totalPrice"
  [formModalDisprice]="formModalDisprice"
  (discountMoney)="discountMoneyFunc($event)"
></app-calc-discount>

<div
  class="modal fade"
  id="modalSuccess"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="text-center">
          <i style="color: green" class="bi bi-check-circle-fill"></i>
        </h1>
        <h1 class="text-center">ทอน ฿ {{ payment_return }}</h1>

        <div class="row justify-content-center mt-3">
          <div class="col-md-6 d-grid gap-2">
            <button class="btn btn-primary" (click)="print()">
              <i class="bi bi-printer"></i> พิมพ์ใบเสร็จ
            </button>

            <button
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="closeOrder()"
            >
              ปิดการขาย
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="print" *ngIf="print_form">
  <div class="page">
    <div>
      <div class="header-name text-centers">Nuttaphon Chanpan</div>
      <div class="header-branch text-centers">สาขา สำนักงานใหญ่</div>
      <div class="header-tax text-centers">TAX# 1409700109776</div>

      <div class="header-title text-centers">
        ใบเสร็จรับเงิน/ใบกำกับภาษีอย่างย่อ
      </div>
      <div class="header-sub-title text-centers">(VAT Included)</div>
      <hr />
      <div>
        <div class="list" *ngFor="let c of carts; let i = index">
          <div>{{ c.product_name }} {{ c.product_qty }}{{ c.unit }}</div>
          <div class="text-rights">
            {{ c.product_price * c.product_qty | currency: "฿" }}
          </div>
        </div>
      </div>
      <hr />
      <div class="list">
        <div>รวม</div>
        <div class="text-rights">{{ totalPrice | currency: "฿" }}</div>
      </div>
      <hr />
      <div class="list">
        <div>NonVAT</div>
        <div class="text-rights">{{ totalPrice | currency: "฿" }}</div>
      </div>
      <div class="list">
        <div>VATable</div>
        <div class="text-rights">0.00</div>
      </div>
      <div class="list">
        <div>VAT 7%</div>
        <div class="text-rights">0.00</div>
      </div>
      <div class="list">
        <div>สุทธิ</div>
        <div class="text-rights">{{ totalPrice | currency: "฿" }}</div>
      </div>
      <hr />
      <div class="list">
        <div>เงินสด</div>
        <div class="text-rights">{{ totalPrice | currency: "฿" }}</div>
      </div>
      <div class="list">
        <div>เงินทอน</div>
        <div class="text-rights">{{ payment_return | currency: "฿" }}</div>
      </div>
      <div class="list">
        <div>ชำระด้วย</div>
        <div class="text-rights">เงินสด</div>
      </div>
      <hr />
      <div class="list">
        <div>พนักงานขาย</div>
        <div class="text-rights">Chanpan Nuttaphon</div>
      </div>
      <div class="list">
        <div>ลูกค้า</div>
        <div class="text-rights">Chanpan Nuttaphon</div>
      </div>
      <div class="list">
        <div>จุดขาย</div>
        <div class="text-rights">POS #1</div>
      </div>
      <div class="list">
        <div>เลขที่</div>
        <div class="text-rights">ST65000001</div>
      </div>

      <div>
        <br />
        <div class="text-centers">** วันที่ 06/04/2022 11:14:49 **</div>
      </div>
    </div>
  </div>
</div>
