<div class="row">
  <div class="col-md-8 col-6">
    <div id="filter">
      <div class="row">
        <div class="col-4">
          <div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Scan Barcode (F12)"
                [(ngModel)]="barcode"
              />
            </div>
          </div>
        </div>
        <div class="col-8">
          <div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                aria-label="Dollar amount (with dot and two decimal places)"
                placeholder="ค้าหาสินค้า"
              />
              <span class="input-group-text"><i class="bi bi-search"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="product">
      <div class="row">
        <div
          *ngFor="let product of products; let i = index"
          class="col-md-3 col-6 mt-1"
          (click)="addToCart(product)"
        >
          <div class="card">
            <div class="card-body">
              <div class="text-center">
                <img [src]="product.image" class="img-fluid image-product" />
              </div>
            </div>
            <div class="card-footer">
              <div class="product-text" [title]="product.name">
                {{ product.name }}
                <div>{{ product.price | currency: "฿" }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div
            class="col-md-3 col-4 text-muted text-nowrap"
            id="total-price-text"
          >
            ลด ฿
          </div>
          <div class="col-md-9 col-8">
            <h3 class="text-muted text-nowrap">100</h3>
          </div>
        </div>

        <div class="row">
          <div
            class="col-md-3 col-4 text-muted text-nowrap"
            id="total-price-text"
          >
            รวม
          </div>
          <div class="col-md-9 col-8">
            <del class="text-danger text-nowrap">1500</del>
            <h3 class="text-success text-nowrap">
              {{ totalPrice | currency: "฿" }}
            </h3>
          </div>
        </div>
        <div class="d-grid gap-2 mt-3">
          <button
            class="btn btn-primary btn-lg text-nowrap"
            (click)="checkout()"
          >
            ชำระเงิน
          </button>
        </div>
      </div>
    </div>
    <div class="card mt-3 cart-list">
      <div class="card-body">
        <div *ngIf="carts && carts.length > 0; else elseBlock">
          <div class="row cart-product" *ngFor="let c of carts; let i = index">
            <div class="col-md-7 col-6 cart-product-text">
              <div>
                <b>{{ i + 1 }}.</b> {{ c.product_name }}
              </div>
              <div>
                <button
                  class="btn btn-sm btn-danger"
                  (click)="removeCart(c.product_id)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
            <div class="col-md-5 col-6 text-end">
              <div class="text-nowrap">
                <b>{{ c.product_price | currency: "฿" }}</b>
              </div>
              <div class="text-nowrap">x{{ c.product_qty }}</div>
            </div>
          </div>
          <!-- endfor -->
        </div>
        <ng-template #elseBlock
          ><div class="text-center">ไม่พบรายการ</div></ng-template
        >
      </div>
    </div>
  </div>
</div>

<!--form modal-->

<app-calculator></app-calculator>
