 

.image-product{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.product-text{
    text-align: center;
}
.product-name{ 
    font-size: 12px;
    text-align: start;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-price{
    color:#0e9f68;
}
.product .col-md-3{
    padding:3px 3px 0px 3px;
    cursor: pointer;
}
.product{
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 15px;
}
.cart-list{
    
    max-height: 50vh;
    min-height: 320px;
    overflow-y: scroll;
    flex: 5;
    height: auto;
}
#total-price-text{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-product{
    font-size: 12px;
    border-bottom: 1px solid #d8dcdf;
    padding-bottom: 10px;
    padding-top: 10px;
}
.cart-product-text{
    white-space: nowrap;
    
    overflow: hidden;
    text-overflow: ellipsis;    
    font-size: 12px;
}



.swal-wide{
    width:250px !important;
}
.active {
    border-color: #116aef;
}
.cursor-pointer{
    cursor: pointer;
}
.col-md-2 {
    flex: 0 0 auto;
    width: 20%;
    margin-bottom: 15px;
}
.product-image{
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
}
.rounded-10 {
    border-radius: 1.3rem !important;
}
.table-card>thead>tr>th{
    background: #f1f1f1;
    color:#666666;
    font-size:14px;
}
.table-card>tbody>tr>td{
    background: #fff;
    color: #666666;
    font-size: 14px;
    font-family: sans-serif;  
}
.product-list:active, .product-list:focus, .product-list:visited{
    border: 1px solid #198754;
}

.table-card>tbody>tr:hover, .table-card>tbody>tr:visited , .table-card>tbody>tr:active {
    border-bottom: 1px solid #198754;
    cursor: pointer;
}